@import "normalize.css"
@import "style-common.styl"

html
  font-family Arial, "Microsoft YaHei", "微软雅黑"

svg
  width 100%
  height 100%

#app-ctnr
  position relative
  min-width 1200px

body
  scroll-behavior smooth

// 通用字体尺寸
.fs-12
  font-size 12px
.fs-14
  font-size 14px
.fs-16
  font-size 16px
.fs-18
  font-size 18px
.fs-20
  font-size 20px
.fs-21
  font-size 21px
.fs-22
  font-size 22px
.fs-24
  font-size 24px
.fs-26
  font-size 26px
.fs-28
  font-size 28px
.fs-30
  font-size 30px
.fs-32
  font-size 32px
.fs-36
  font-size 36px
.fs-48
  font-size 48px

// 通用正方形尺寸
.size-24
  width 24px
  height 24px
.size-32
  width 32px
  height 32px
.size-40
  width 40px
  height 40px
.size-56
  width 56px
  height 56px
.size-72
  width 72px
  height 72px
.size-96
  width 96px
  height 96px
.size-120
  width 120px
  height 120px

// background-image
.bg-img-normal
  background-position center
  background-repeat no-repeat
.bg-img-contain
  background-size contain
.bg-img-cover
  background-size cover

// markdown文件里表格样式
.main-content
  color #838B8B
  h2, h3
    color #455a64
  h3
    margin-top 40px
  table 
    border-collapse collapse
    width 100%
    background-color #fff
    font-size 12px
    margin-bottom 45px
    line-height 1.5em

    strong 
      font-weight normal
    
    td, th 
      border-bottom 1px solid #dcdfe6
      padding 10px 5px
      max-width 300px
      box-sizing border-box
      white-space normal
      word-break break-all
    td:nth-child(1)
      width 120px
    td:nth-child(4)
      width 300px
    
    th 
      text-align left
      white-space nowrap
      color #455a64
      font-weight normal
    
    td 
      color #828282
    
    th:first-child, td:first-child 
      padding-left 10px
  



